html, body {
    background-color: ghostwhite;
}

.left, .right, .solve-left, .solve-right {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
}

.left, .solve-left {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right, .solve-right {
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .left, .right, .solve-left, .solve-right {
        width: 100%;
        position: relative;
    }

    .right, .solve-left {
        min-width: 0;
        height: auto;
        margin-top: 2rem;
    }
}

.bg-image {
    background-image: url(../images/cf-fizzbuzz.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-gradient {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7) ), url(../images/cf-fizzbuzz.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.custom-nav-bg {
    background-color: #ff622b;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .65);
}

.navbar-nav .nav-link:hover {
    color: #fff;
    text-decoration: line-through;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem 1rem 1rem;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

p {
    padding-top: 40px;
    font-size: 1.25rem;
}

#errorMessage {
    color: red;
    font-size: 1.25rem;
}

.input-section {
    max-width: 400px;
    margin: 0 auto 0 auto;
}

.results-section {
    max-width: 500px;
    height: auto;
    margin: 0 auto 100px auto;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: white;
}

input {
    margin-top: 10px;
}

button {
    margin: 20px 5px;
}

#numbers {
    padding-bottom: 20px;
    font-size: 2rem;
    line-height: 4rem;
}

.deepskyblue {
    color: deepskyblue;
}

.limegreen {
    color: limegreen;
}

.orange {
    color: orange;
}

.code-section {
    width: 300px;
    margin-bottom: 50px;
    border: solid 1px red;
}

.btn-custom {
    color: white;
    background-color: #ff622b;
}

    .btn-custom:hover {
        color: #ff622b;
        background-color: white;
        border-color: #ff622b;
    }

.btn-danger:hover {
    color: #dc3545;
    background-color: white;
    border-color: #dc3545;
}

button:focus {
    outline: 1px solid;
    outline: 1px auto;
}

#fizzBuzzResults table, th, td {
    border: 1px solid white;
    padding: 3px;
}

.test-results {
    max-width: 500px;
    height: auto;
    margin: 0 auto 100px auto;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: white;
}
